@use '../../styles/colors';

@font-face {
    font-family: 'Tiny5';
    src: url("https://fonts.googleapis.com/css2?family=Tiny5");
}

.center {
    text-align: center;
}

.green {
    color: colors.$vivid-green;
}

.logo {
    font-size: 72px;
}

.tiny5 {
    font-family: 'Tiny5', serif;
}
